Converts steamdb timeseries (prices when changed at timestamps) to standardized time series where the date is part of the week. <br>
Divide into weeks

Plan:<br>
*convert to minimum time series
*divide into weeks

In [2]:
import os
from pprint import pprint as pp
import pandas as pd
import json
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import copy
%matplotlib inline
os.getcwd()

'/home/ryan/Documents/insight_projects/steam_prices/data_analysis'

In [5]:
df = pd.read_pickle('df_steam_db.pkl')

,appid,fprice,iprice,price_date,min_fprice,min_iprice,min_iprice_var,min_iprice_slope,min_iprice_intercept
0,2430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,297750,"[39.99, 29.99, 29.99, 19.99, 19.99]","[39.99, 39.99, 39.99, 39.99, 39.99]","[1.417120656e+12, 1.434047268e+12, 1.434994431...","[39.99, 29.99, 29.99, 19.99, 19.99]","[39.99, 39.99, 39.99, 39.99, 39.99]",0.000000e+00,0,39.99
2,19080,"[9.99, 2.49, 2.49]","[9.99, 9.99, 9.99]","[1.417120656e+12, 1.434049315e+12, 1.434996542...","[9.99, 2.49, 2.49]","[9.99, 9.99, 9.99]",0.000000e+00,0,9.99
3,278850,"[4.99, 2.49, 2.49, 2.49, 2.49, 1.49, 1.49]","[4.99, 4.99, 4.99, 4.99, 4.99, 4.99, 4.99]","[1.417120656e+12, 1.417513376e+12, 1.417545207...","[4.99, 2.49, 2.49, 2.49, 2.49, 1.49, 1.49]","[4.99, 4.99, 4.99, 4.99, 4.99, 4.99, 4.99]",7.888609e-31,0,4.99
4,367260,"[5.39, 5.39, 4.01, 4.01, 4.01, 4.01, 4.01, 4.01]","[5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99]","[1.430513702e+12, 1.431104712e+12, 1.43404599e...","[5.39, 5.39, 4.01, 4.01, 4.01, 4.01, 4.01, 4.01]","[5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99]",7.888609e-31,0,5.99

In [41]:
'''fixing timestamps'''
df['price_date_fixed'] = df.price_date.apply(np.array)
df.price_date_fixed = df.price_date_fixed * pow(10,-3)
df.head()

,appid,fprice,iprice,price_date,min_fprice,min_iprice,min_iprice_var,min_iprice_slope,min_iprice_intercept,price_date_fixed
0,2430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,297750,"[39.99, 29.99, 29.99, 19.99, 19.99]","[39.99, 39.99, 39.99, 39.99, 39.99]","[1.417120656e+12, 1.434047268e+12, 1.434994431...","[39.99, 29.99, 29.99, 19.99, 19.99]","[39.99, 39.99, 39.99, 39.99, 39.99]",0.000000e+00,0,39.99,"[1417120656.0, 1434047268.0, 1434994431.0, 144..."
2,19080,"[9.99, 2.49, 2.49]","[9.99, 9.99, 9.99]","[1.417120656e+12, 1.434049315e+12, 1.434996542...","[9.99, 2.49, 2.49]","[9.99, 9.99, 9.99]",0.000000e+00,0,9.99,"[1417120656.0, 1434049315.0, 1434996542.0]"
3,278850,"[4.99, 2.49, 2.49, 2.49, 2.49, 1.49, 1.49]","[4.99, 4.99, 4.99, 4.99, 4.99, 4.99, 4.99]","[1.417120656e+12, 1.417513376e+12, 1.417545207...","[4.99, 2.49, 2.49, 2.49, 2.49, 1.49, 1.49]","[4.99, 4.99, 4.99, 4.99, 4.99, 4.99, 4.99]",7.888609e-31,0,4.99,"[1417120656.0, 1417513376.0, 1417545207.0, 141..."
4,367260,"[5.39, 5.39, 4.01, 4.01, 4.01, 4.01, 4.01, 4.01]","[5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99]","[1.430513702e+12, 1.431104712e+12, 1.43404599e...","[5.39, 5.39, 4.01, 4.01, 4.01, 4.01, 4.01, 4.01]","[5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99, 5.99]",7.888609e-31,0,5.99,"[1430513702.0, 1431104712.0, 1434045990.0, 143..."

In [6]:
def timestamptodays(timestamp_vec):
    
        s_ts = np.array(timestamp_vec) * pow(10,-3) #for some reason, the timestamps were saved with 3 extra zeros
        s_ts = s_ts - s_ts[0]
        s_ts = s_ts / (60*60*24) #divide by seconds in a day
        
    else:
        s_ts = np.nan
    return s_ts

In [33]:
'''determine the minimum timestamp in the series'''

def get_min(in_list):
    if not np.array(in_list).size == 1: #all timestamps with nan are equalt to size 1. not sure if others are (need to check)
        s_ts = np.array(in_list) * pow(10,-3)
        min_val = np.min(np.array(s_ts))
        
    else:
        min_val = np.inf
    return min_val

'''THIS DOESN'T FOLLOW THE DON'T REPEAT YOURSELF RULE, BUT IN A CRUNCH'''
def get_max(in_list):
    if not np.array(in_list).size == 1: #all timestamps with nan are equalt to size 1. not sure if others are (need to check)
        s_ts = np.array(in_list) * pow(10,-3)
        max_val = np.max(np.array(s_ts))
        
    else:
        max_val = -np.inf
    return max_val
min_timestamp = int(df.price_date.apply(get_min).min())
max_timestamp = int(df.price_date.apply(get_max).max())

print min_timestamp
print max_timestamp

1417120656.0
1442077561.0

In [95]:
samp = 3
pdfi = df.price_date_fixed.iloc[samp]
ipi = np.array(df.iprice.iloc[samp])
fpi = np.array(df.fprice.iloc[samp])
dt = np.append(np.array(pdfi),(np.array(pdfi) + day_sec/10))
price = np.append(ipi,fpi)
price_type = ['i'] * ipi.size + ['f'] * fpi.size

df_dp = pd.DataFrame({'price':price,'timestamp':dt, 'price_type':price_type}).sort(['timestamp'])

week_sec = 7 * 24 * 60 * 60
day_sec = 24 * 60 * 60
timestamp_range = np.arange(min_timestamp,max_timestamp,week_sec / 2)
timestamp_i=ipi
timestamp_f=fpi


pd.Series(timestamp_range)


price_val = np.empty(timestamp_range.size)
price_val[:] = np.nan


for i,v in np.ndenumerate(timestamp_i):#make sure s_ts is a 1-D numpy array
    time_delta =  np.abs(v - timestamp_range)
    min_dif = np.argmin(time_delta)
    if min_dif.size == 1:
        dif_ix = int(min_dif)
    else:
        dif_ix = int(min_dif[0])
    price_val[dif_ix] = ipi[i]
    price_val[dif_ix + 1] = fpi[i]
    
#for i,v in np.ndenumerate(timestamp_range):

In [92]:
samp = 3
pdfi = df.price_date_fixed.iloc[samp]
ipi = np.array(df.iprice.iloc[samp])
fpi = np.array(df.fprice.iloc[samp])
dt = np.array(pdfi)
df_dp = pd.DataFrame({'iprice':ipi,'fprice':fpi, 'date':dt})
df_dp.head()

         date  fprice  iprice
0  1417120656    4.99    4.99
1  1417513376    2.49    4.99
2  1417545207    2.49    4.99
3  1418928793    2.49    4.99
4  1420223723    2.49    4.99

array([  1.41712066e+09,   1.41742306e+09,   1.41772546e+09,
         1.41802786e+09,   1.41833026e+09,   1.41863266e+09,
         1.41893506e+09,   1.41923746e+09,   1.41953986e+09,
         1.41984226e+09,   1.42014466e+09,   1.42044706e+09,
         1.42074946e+09,   1.42105186e+09,   1.42135426e+09,
         1.42165666e+09,   1.42195906e+09,   1.42226146e+09,
         1.42256386e+09,   1.42286626e+09,   1.42316866e+09,
         1.42347106e+09,   1.42377346e+09,   1.42407586e+09,
         1.42437826e+09,   1.42468066e+09,   1.42498306e+09,
         1.42528546e+09,   1.42558786e+09,   1.42589026e+09,
         1.42619266e+09,   1.42649506e+09,   1.42679746e+09,
         1.42709986e+09,   1.42740226e+09,   1.42770466e+09,
         1.42800706e+09,   1.42830946e+09,   1.42861186e+09,
         1.42891426e+09,   1.42921666e+09,   1.42951906e+09,
         1.42982146e+09,   1.43012386e+09,   1.43042626e+09,
         1.43072866e+09,   1.43103106e+09,   1.43133346e+09,
         1.43163586e+09,   1.43193826e+09,   1.43224066e+09,
         1.43254306e+09,   1.43284546e+09,   1.43314786e+09,
         1.43345026e+09,   1.43375266e+09,   1.43405506e+09,
         1.43435746e+09,   1.43465986e+09,   1.43496226e+09,
         1.43526466e+09,   1.43556706e+09,   1.43586946e+09,
         1.43617186e+09,   1.43647426e+09,   1.43677666e+09,
         1.43707906e+09,   1.43738146e+09,   1.43768386e+09,
         1.43798626e+09,   1.43828866e+09,   1.43859106e+09,
         1.43889346e+09,   1.43919586e+09,   1.43949826e+09,
         1.43980066e+09,   1.44010306e+09,   1.44040546e+09,
         1.44070786e+09,   1.44101026e+09,   1.44131266e+09,
         1.44161506e+09,   1.44191746e+09])

In [58]:
samp = 3
pdfi = df.price_date_fixed.iloc[samp]
ipi = np.array(df.iprice.iloc[samp])
fpi = np.array(df.fprice.iloc[samp])
dt = np.append(np.array(pdfi),(np.array(pdfi) + day_sec))
price = np.append(ipi,fpi)

df_dp = pd.DataFrame({'price':price,'timestamp':dt}).sort(['timestamp'])

In [90]:
df_dp

    price price_type   timestamp
0    4.99          i  1417120656
7    4.99          f  1417129296
1    4.99          i  1417513376
8    2.49          f  1417522016
2    4.99          i  1417545207
9    2.49          f  1417553847
3    4.99          i  1418928793
10   2.49          f  1418937433
4    4.99          i  1420223723
11   2.49          f  1420232363
5    4.99          i  1434047649
12   1.49          f  1434056289
6    4.99          i  1434994705
13   1.49          f  1435003345

In [133]:
'''THIS ONE WORKS'''

samp = 3
pdfi = df.price_date_fixed.iloc[samp]
ipi = np.array(df.iprice.iloc[samp])
fpi = np.array(df.fprice.iloc[samp])
#dt = np.append(np.array(pdfi),(np.array(pdfi) + day_sec/10))
dt = np.array(pdfi)
price = np.append(ipi,fpi)
price_type = ['i'] * ipi.size + ['f'] * fpi.size

#df_dp = pd.DataFrame({'price':price,'timestamp':dt, 'price_type':price_type}).sort(['timestamp'])

week_sec = 7 * 24 * 60 * 60
day_sec = 24 * 60 * 60
timestamp_range = np.arange(min_timestamp,max_timestamp,week_sec / 2)



price_val = np.empty(timestamp_range.size)
price_val[:] = np.nan


for i,v in np.ndenumerate(dt):#make sure s_ts is a 1-D numpy array
    time_delta =  np.abs(v - timestamp_range)
    min_dif = np.argmin(time_delta)
    if min_dif.size == 1:
        dif_ix = int(min_dif)
    else:
        dif_ix = int(min_dif[0])
    price_val[dif_ix] = ipi[i]
    price_val[dif_ix + 1] = fpi[i]


price_val_reverse = copy.deepcopy(price_val[::-1])
price_val_reverse2 = price_val_reverse
for i,v in np.ndenumerate(price_val_reverse):
    if i[0] > 0 and np.isnan(v):
        price_val_reverse2[i[0]] = price_val_reverse2[i[0]-1]


price_val2 = price_val_reverse2[::-1]
price_val3 = copy.deepcopy(price_val2)
for i,v in np.ndenumerate(price_val3):
    if i[0] > 1 and np.isnan(v):
        price_val3[i[0]] = np.median(price_val3[:i[0]-1]) # this will need to be fixed!

In [134]:
price_val3

array([ 4.99,  4.99,  2.49,  4.99,  4.99,  4.99,  4.99,  2.49,  4.99,
        4.99,  4.99,  2.49,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99,  4.99,  1.49,  4.99,  4.99,  1.49,  4.99,  4.99,
        4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,  4.99,
        4.99,  4.99])