In [1]:
import os
from pprint import pprint as pp
import pandas as pd
import json
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import itertools
import copy
import seaborn as sns
import pymysql as mdb

%matplotlib inline
os.getcwd()

'/home/ryan/Documents/insight_projects/steam_prices/data_analysis'

In [7]:
from sqlalchemy import create_engine
from sqlalchemy.types import String

In [21]:
df_sale_prob = pd.read_pickle('df_save_discount.pkl')
df_sale_prob.head()

    appid  avg_savings  avg_discount  sale_prob_x  sale_prob_y
0  297750     0.000000     37.500000            0            0
1   19080     7.500000     75.000000            0            0
2  278850     2.833333     56.666667            0            0
3  367260     1.257500     19.500000            1            1
4  251970     4.000000     80.000000            0            0

In [40]:
df_steam_features = pd.read_pickle('steam_features.pkl')
#df_steam_features.head()

db_a = df_steam_features[['developer','game_name','appid','publisher']]
db_b = df_sale_prob[['appid','avg_savings','avg_discount','sale_prob_y']]
df_for_website =pd.merge(left=db_a,right=db_b, left_on='appid', right_on='appid')
df_for_website.head()

,developer,game_name,appid,publisher,avg_savings,avg_discount,sale_prob_y
0,Tavern Games,KEL Reaper of Entropy,317950,Tavern Games,1.050000,35.000000,0.0
1,N94Games,Top Hat,315940,N94Games,5.600000,56.000000,0.9
2,Michael Flynn,STAR-BOX: RPG Adventures in Space,363510,Michael Flynn,1.500000,15.000000,0.0
3,Anvate Games,Night Mysteries: The Amphora Prisoner,348870,Anvate Games,1.333333,26.666667,0.0
4,Positech Games,Gratuitous Tank Battles,205530,Positech Games,7.000000,70.000000,0.0

In [47]:
'''convert unicode to ascii so it can be piped through sqlalchmy into the DB'''
columns_w_strs = ['developer','game_name','publisher']
for col in columns_w_strs:    
    df_for_website[col] = [x.encode('ascii','ignore') for x in df_for_website[col]]
    
#df_for_website['developer'].apply(str.encode,args =('ascii','ignore',))

In [48]:

engine = create_engine("mysql+pymysql://root:hats@localhost/ssf_db", echo=False)
df_for_website.to_sql(name='website_table', con=engine, if_exists = 'append', index=True)